.he_reset{
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : black;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : left;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}


/* ========= CSS reset ========= */


@font-face {
    font-family: AvenirLight;
    src: url(Avenir-Light.otf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(Avenir-Medium.otf);
}


#he_tray{
	font-size:16px !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight:300 !important;
	float:left !important;
	display:inline-block !important;
	width:397px !important;
	height:100% !important;
	overflow-y:scroll !important;
    background-color:rgb(35,158,215) !important;
    background-color:rgb(40,40,40) !important;
	position:fixed !important;
	left:0 !important;
	top:0 !important;
	cursor:default !important;
    /*border-right:3px solid rgb(50, 50, 50) !important;
	*/
    border-right:3px solid rgb(40, 40, 40) !important;
    
    z-index:2000000020 !important;
	-webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.15) !important;
	-moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 0px 22px -6px rgba(0,0,0,1) !important;
    color:white !important;
}

#he_tray::-webkit-scrollbar {
    background-color:rgb(40,40,40) !important;
}
#he_tray::-webkit-scrollbar-thumb {
    background-color:rgb(70,70,70) !important;
    margin-top:10px !important;
}


#he_tray #he_actions{
	width:calc(100% - 60px) !important;
    padding: 10px !important;
    display:block !important;
    font-size:16px !important;
    font-weight:100 !important;
    font-family: Avenir, sans-serif !important;
    font-weight:400 !important;
    margin:20px 30px 0 30px !important;
}

#he_tray #he_action_buttons{
    display:inline-block !important;
    vertical-align: middle !important;
    margin-left:30px !important;
}

#he_tray #logo{
    font-size:25px !important;
    font-family: Avenir, sans-serif !important;
    font-weight: 800 !important;
    color:white !important;
    text-align:left !important;
    display:inline-block !important;
    vertical-align: middle !important;
}

#he_tray .he_tray_button{
    margin-bottom:0px !important;
    text-align:left !important;
    color:white !important;
    padding:5px 10px !important;
}

#he_tray .he_tray_button:hover{
    background-color:rgba(255,255,255,0.2) !important;
    cursor:pointer !important;
}

#he_tray{
    background-color:black !important;
    border:1px solid white !important;
    color:white !important;
    font-size:15px !important;
    padding:5px 10px !important;
    float:left !important;
}


#he_tray #he_card_container{
	padding: 10px 30px 20px 30px !important;
    display:block !important;
    width:calc(100% - 60px) !important;
    overflow:hidden !important;
}

#he_tray .he_card{
	float:left !important;
	width:100% !important;
	padding:5px 0px !important;
	outline:none !important;
	display:block !important;
	margin-bottom:5px !important;
	z-index:2000000051 !important;
}

#he_tray .he_card_title{
    font-family: Avenir, sans-serif !important;
    font-weight:600 !important;
	font-size:15px !important;
	margin:0 !important;
	padding:0 !important;
	display: block !important;
    color:white !important;
}

#he_tray p.he_card_text{
    font-family: AvenirMedium, sans-serif !important;
	font-size:15px !important;
	margin:0 !important;
	padding:0 !important;
	padding-bottom:5px !important;
	display: block !important;
    color:rgb(200,200,200) !important;
    font-weight:100 !important;
}

.he_overlay{
	position:absolute !important;
	background-color:rgba(0,0,0,0.5);
	display:block !important;
	pointer-events:none !important;
	z-index:2000000040 !important;
}



/* Callout */

#he_callout{
    text-align:left !important;
    width:300px !important;
    padding:20px !important;
    /*border:3px solid #0072bc !important;*/
    font-size:15px !important;
    z-index:2000000045 !important;
    position:fixed !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight:300 !important;
    position:absolute !important;
    border:3px solid rgb(50, 50, 50) !important;
    -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.15) !important;
    -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,1) !important;
    color:white !important;
    background-color:rgb(40,40,40) !important;
   


}

svg:not(:root) {
    overflow: hidden;
    fill: white;
}

.he_close_button{
    font-size:30px !important;
    cursor:pointer !important;
    overflow:visible !important;
    display:block !important;
    height: 25px  !important;
    width: 25px  !important;
}

.he_close_button:hover .he_close_left{
    background-color:rgb(255,255,255) !important;
}
.he_close_button:hover .he_close_right{
    background-color:rgb(255,255,255) !important;
}

.addBorder{
	'border' : '3px solid red';
}

.gauge {
    display: block;
    margin: 0 0 1% 0;
}


.ua-button {
    font-size: 14px !important;
    color: rgb(255, 255, 255) !important;
    height: 32px !important;
    background-color: rgb(23, 118, 191) !important;
}
.ua-h1 {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-h2 {
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-h4 {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-h5 {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-h6 {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    color: rgb(51, 51, 51) !important;
}
.ua-input {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 14px !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    /*border-width: 1px !important;*/
    /*border-color: rgb(0, 0, 0) !important;*/
    height: 32px !important;
}
.ua-input::placeholder {
    color: #333333 !important;
}



